html, body {
	padding: 0;
	margin: 0;
	font-family: Helvetica, Verdana, Arial;
}

#sitewrapper {
	position: absolute;
	left: 50%;
	margin-left: -300px;
	width: 600px;
	padding: 0 20px 20px 20px;
	background-color: #eee;
}

#header {
	
}

#footer {
	font-size: 0.8em;
	color: #222;
	text-align: center;
}

#content {
	
}