<h3 class="contenttitle">Howdy</h3>


SoundBoard.me is a demo application showing how <a href="http://wiki.github.com/soundcloud/sc-connect">SoundCloud with

SoundCloud</a>
works. 'Connect with SoundCloud' allows users to easily move their
music and SoundCloud DropBox over to any site on the web. You can see
an example profile soundboard <a href="/users/ericwahlforss/">here</a>
, or sign up for a new
profile <a href="/signup">here</a>.
